* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.856)), url(./img/istockphoto-1159174187-612x612.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav {
    display: flex;
    padding: 30px 150px;
}

.nav-logo {
    width: 235px;
    color: white;
}

.nav-logo img {
    width: 40px;
    position: absolute;
    margin-top: 5px;
    margin-left: -40px;
    background: none;
}

.nav-links ul {
    display: flex;
    margin-left: 30px;
    width: 100%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav-links ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: yellow;
    display: block;
    margin: auto;
    transition: .5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.nav-button {
    position: absolute;
    margin-top: -30px;
    margin-left: 800px;
    padding: 8px 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
    font-weight: 800;
}

.inner {
    margin: 80px 130px;
    color: white;
}

.inner h1 {
    font-size: 50px;
}

span {
    color: yellow;
}

.inner button {
    border: 1px yellow solid;
    overflow: hidden;
    padding: 10px 25px;
    margin-left: 5px;
    font-size: 20px;
    background: none;
    color: white;
    transition: .3s;
}

.inner button:hover {
    background-color: yellow;
    color: black;
}

.bar {
    height: 100%;
    background: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.search {
    height: 60%;
    width: 80px;
}

.search .fas {
    margin: 45px 23px;
    display: block;
    font-size: 30px;
}

.icons {
    height: 35%;
    width: 80px;
    text-align: center;
    font-size: 25px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.icons .bi {
    margin-top: 20px;
    display: block;
    color: black;
}

.notification {
    bottom: 0;
    right: 100px;
    position: absolute;
    background-color: yellow;
    padding: 8px 15px;
}

.notification button {
    background-color: yellow;
    border: none;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;
}

.nav .fas {
    display: none;
    font-size: 50px;
}

@media (max-width:700px) {
    .bar {
        display: none;
    }
    .nav {
        padding: 10px 30px;
    }
}